<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi New Comment on Your Post</h1>
    <p>Post Content : <%= @post_content %> </p>
    
    <p> <%= @commenter %> has commented, <%= @body %> </p>

	<p> Welome and enjoy!</p>
  </body>
</html>