<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Post Updated </h1>
    <p>Updated Post Content : <%= @title %> </p>

	<p> Updated Welome and enjoy!</p>
  </body>
</html>
