<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Updated Lecture </h1>
    
    <p>Updated Lecture Subject : <%= @subject %> </p>

	<p> Welome and enjoy!</p>
  </body>
</html>
